__pycache__/
*.py[cod]
*$py.class

venv/
.venv/

dev/
docs/.obsidian

logs/*
!logs/.gitkeep

.ipynb_checkpoints/

build/
dist/
*.egg-info/

.DS_Store
Thumbs.db

models/LTE
models/test
models/ivan_queueing_model_redo
models/complex_function_fun
model/leone_demo_model
model/law_of_value_calculation
model/new_model
dimensions.txt
config.yml
pyrightconfig.json

release/linux/build
release/linux/*.tar.gz

release/windows/*.exe
release/macos/dist
release/macos/build
release/macos/pkg_pipeline/payload
release/macos/dmg_pipeline/__pycache__
release/macos/dmg_pipeline/build
release/macos/dmg_pipeline/dist
release/macos/dmg_pipeline/*.zip
release/macos/dmg_pipeline/*.spec
release/macos/dmg_pipeline/*.dmg
release/macos/dmg_pipeline/dmgroot
release/macos/*.dmg
